@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;1,300&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@400;500&display=swap');


:root {
    --main-color:  #91B40D;
    --text-color: #3E3737;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    margin-bottom: 5rem;
}
.body{
    background-color: #fff;
}
.text-img{
    margin: auto;
}
.fa-phone{
    color:var(--main-color);
    font-size: 20px;
}
.top-nav p{
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: var(--text-color);
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-nav i{
vertical-align: middle;
}
.social-links{
    padding-top: 5px;
    padding-bottom: 5px;
}
.social-links a{
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50%;
}
.social-links a:hover{
    background-color: rgba(230, 220, 220, 0.559);
    color: var(--main-color);
}
.nav-link{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    padding: 5px;
}
.nav-link:hover{
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5%;
}
.bg-img-sect{
    position: relative;
    height: 600px;
    width: 100%;
    background: url(../img/close-up-woman-harvesting-garden.svg) center/cover no-repeat; 
}
.bg-img-top{
    position: absolute;
    right: 100px;
    top: 430px;
}
.bg-img-top img{
    width: 300px;
}

/* ********** Xidmətlərimiz *********** */ 
.xidmet-img img{
    width: 100%;
}
.img-group{
    padding: 15px;
}
.h-green{
    color: #1A5221;
    font-weight: bold;
}


/* ********** Footer *********** */
.footer-top{
    background-color: #F3F3F3;
    padding-top: 100px;
    flex-direction: column;
  }
  .footer-top a{
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  }
  .footer-top a:hover{
    color: rgb(249, 241, 10);
     font-size: 30;
     font-weight: 700;
    }

.footer-top-img img{
width: 100%;
}
.footer-top-img{
margin-bottom: 0;
padding-bottom: 0;
width: 100%;
}

  .icon-top{
    font-size: 2.5rem;
    color: rgb(249, 241, 10);
  }
  .copyright{
      padding: 10px;
  }

   /* ********** Modal *********** */
 .btn-modal{
    background-color: #fff;
    color: black;
    width: 200px;
    height: 70px;
}
.btn-modal:hover{
   background-color: #1A5221;
   color: #fff;  
}
.modal-content{
   background: none !important;
   border: 0;
}
.form-control {
   background: none !important;
}